{% extends "templates/base2.html" %}

{% block extra_title %} | MPass Accounts{% endblock %}

{% block extra_head %}{% endblock %}

{% block page_header %}
    <h1>MPass Accounts</h1>
    <div class="btn-group" role="group">
        <a href="/admin/0/mpass_accounts/create" class="btn btn-default">Create MPass Account</a>
    </div>
{% endblock %}

{% block container_content %}

    <table class="table table-striped">
        <thead>
            <th>MPass ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Status</th>
        </thead>
        {% if wallets %}
            <tbody>
                {% for wallet in wallets %}
                    <tr>
                        <td><a href="/admin/0/mpass_accounts/{{ wallet.key.id() }}">{{ wallet.key.id() }}</a></td>
                        <td>{{ wallet.name }}</td>
                        <td>{{ wallet.username }}</td>
                        <td>****</td>
                        {% if wallet.status %}
                            <td>Active</td>
                        {% else %}
                            <td>Inactive</td>
                        {% endif %}
                        <td>
                            {% if wallet.status %}
                            <form method="POST" action="/admin/0/mpass_accounts">
                                <input type="hidden" id="wallet_id" name="wallet_id" value="{{ wallet.key.id() }}">
                                <input type="submit" value="Delete">
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tbody>
                <tr>
                    <td colspan=2 align="center">No Data Available</td>
                </tr>
            </tbody>
        {% endif %}
    </table>
{% endblock %}

{% block extra_js %}{% endblock %}