{% extends "templates/base2.html" %}

{% block extra_title %} | Show MPass Account{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .movie-form {
            width: 50%;
            float: left;
        }
    </style>
{% endblock %}

{% block page_header %}
    <h1>
        <a href="/admin/0/mpass_accounts">MPass Accounts</a> > {{ mpass.name }}
    </h1>
{% endblock %}

{% block container_content %}
    <div class="container">
        <div class="mpass-form">
            <form method="post" action="/admin/0/mpass_accounts/{{ mpass.key.id() }}">
                <div class="form-group">
                    <label for="name">MPass Account Name</label>
                    {% if mpass.status %}
                        <input type="text" class="form-control" id="name" name="name" value="{{ mpass.name }}" />
                    {% else %}
                        <input type="text" class="form-control" value="{{ mpass.name }}" disabled/>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="username">MPass Account Username</label>
                    {% if mpass.status %}
                        <input type="text" class="form-control" id="username" name="username" value="{{ mpass.username }}" />
                    {% else %}
                        <input type="text" class="form-control" value="{{ mpass.username }}" disabled/>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="password">MPass Account Password</label>
                    {% if mpass.status %}
                        <input type="password" class="form-control" id="password" name="password" value="{{ mpass.password }}" />
                    {% else %}
                        <input type="password" class="form-control" value="{{ mpass.password }}" disabled/>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="status">MPass Account Status</label>
                    {% if mpass.status %}
                        <input type="text" class="form-control" value="Active" disabled/>
                    {% else %}
                        <input type="text" class="form-control" value="Inactive" disabled/>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="created_at">Created At</label>
                    <input type="text" class="form-control" value="{{ mpass.created_at }}" disabled/>
                </div>
                <div class="form-group">
                    <label for="created_by">Created By</label>
                    <input type="text" class="form-control" value="{{ mpass.created_by }}" disabled/>
                </div>
                <div class="form-group">
                    <label for="updated_at">Updated At</label>
                    <input type="text" class="form-control" value="{{ mpass.updated_at }}" disabled/>
                </div>
                <div class="form-group">
                    <label for="updated_by">Updated By</label>
                    <input type="text" class="form-control" value="{{ mpass.updated_by }}" disabled/>
                </div>
                <div class="form-group">
                    <label for="deleted_at">Deleted At</label>
                    <input type="text" class="form-control" value="{{ mpass.deleted_at }}" disabled/>
                </div>
                <div class="form-group">
                    <label for="deleted_by">Deleted By</label>
                    <input type="text" class="form-control" value="{{ mpass.deleted_by }}" disabled/>
                </div>
                {% if mpass.status %}
                    <div class="form-group">
                        <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}