{% extends "templates/base2.html" %}

{% block extra_title %} | Create MPass Account{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .movie-form {
            width: 50%;
            float: left;
        }
    </style>
{% endblock %}

{% block page_header %}
    <h1><a href="/admin/0/mpass_accounts">MPass Accounts</a> > Create</h1>
{% endblock %}

{% block container_content %}
    <div class="container">
        <div class="mpass-form">
            <form method="post" action="/admin/0/mpass_accounts/create">
                <div class="form-group">
                    <label for="name">MPass Account Name</label>
                    <input type="text" class="form-control"  id="name" name="name" />
                </div>
                <div class="form-group">
                    <label for="username">MPass Account Username</label>
                    <input type="text" class="form-control" id="username" name="username" />
                </div>
                <div class="form-group">
                    <label for="password">MPass Account Password</label>
                    <input type="password" class="form-control" id="password" name="password" />
                </div>
                <div>
                    <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}