{% extends "templates/admin_panel/admin_panel_base.html" %}

{% block extra_title %} | Admin Panel{% endblock %}

{% block extra_head %}
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block page_header %}
    <h1>
        {% if theater %}
            {{ theater.name }} ({{ theaterorg.name }})
        {% else %}
            {{ theaterorg.name }}
        {% endif %}
    </h1>
    <div class="btn-group" role="group">
        <a href="#" class="btn btn-default" id="id_compute_btn" data-button='{"theaterorg": "{{ theaterorg.url_parameter }}", "theater": "{% if theater %}{{ theater.url_parameter }}{% endif %}", "date_from": "{% if date_from %}{{ date_from.date() }}{% endif %}", "date_to": "{% if date_to %}{{ date_to.date() }}{% endif %}"}'>Compute Total Amount</a>
    </div>
{% endblock %}

{% block container_content %}
    <form class="navbar-form navbar-right" role="form" id="id_filter_form"
            action="/admin/1/promo_codes/redeemed/{{ theaterorg.url_parameter }}" method="get">
        <div class="form-group">
            <input type="hidden" name="action" id="action" value="filter" />
            {% if theater %}
                <input type="hidden" name="theater" id="theater" value="{{ theater.url_parameter }}" />
            {% endif %}
            <strong>From:</strong>&nbsp;
            <input type="text" name="from" id="from" class="form-control"
                    {% if date_from %}value={{ date_from.date() }}{% endif %} />
            &nbsp;<strong>To:</strong>&nbsp;
            <input type="text" name="to" id="to" class="form-control"
                        {% if date_to %}value={{ date_to.date() }}{% endif %} />&nbsp;
        </div>
        <button id="id_filter_btn" type="button" class="btn btn-primary">
            Filter
        </button>
        <button id="id_export_btn" type="button" class="btn">
            Export to XLS
        </button>
    </form>
    <br><br><br>
    <table class="table table-striped">
        <thead>
            <th>CLAIM CODE</th>
            <th>DATE REDEEMED</th>
            {% if theater is none %}
                <th>THEATER</th>
            {% endif %}
            <th>MOVIE</th>
            <th>SCHEDULE</th>
            <th>CINEMA</th>
            <th>BOOKED SEATS</th>
            <th>BOOKED AMOUNT</th>
        </thead>
        {% if promo_codes %}
            <tbody>
                {% for promo_code in promo_codes %}
                    <tr>
                        <td>{{ promo_code.promo_code }}</td>
                        <td>
                            {% if promo_code.redeemed_on %}
                                {{ promo_code.redeemed_on.strftime('%m/%d/%Y %I:%M %p') }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        {% if theater is none %}
                            <td>
                                {% if promo_code.booking_details %}
                                    {% if promo_code.booking_details.theater %}
                                        {{ promo_code.booking_details.theater.get().name }}
                                    {% else %}
                                        {% if promo_code.booking_details.theaterorg_id and promo_code.booking_details.theater_id %}
                                            {{ get_theater_name_and_code(promo_code.booking_details.theater_id, promo_code.booking_details.theaterorg_id)[0] }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                        {% endif %}
                        <td>
                            {% if promo_code.booking_details %}
                                {{ promo_code.booking_details.movie }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if promo_code.booking_details %}
                                {{ promo_code.booking_details.schedule.strftime('%m/%d/%Y %I:%M %p') }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if promo_code.booking_details %}
                                Cinema {{ promo_code.booking_details.cinema }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if promo_code.booking_details %}
                                {% for seat in promo_code.booking_details.booked_seats %}
                                    {{ seat }}{% if not loop.last %}, {% endif %}
                                    {% if promo_code.booking_details.booked_seats|length > 5 %}
                                        {% if loop.index is divisibleby 5 %}
                                            <br>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                &nbsp;({{ promo_code.booking_details.booked_seat_count }})
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if promo_code.booking_details %}
                                {{ promo_code.get_booked_total_amount() }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tbody>
                <tr>
                    <td colspan={% if theater is none %}8{% else %}7{% endif %} align="center">No Data Available</td>
                </tr>
            </tbody>
        {% endif %}
    </table>
    <ul class="pager">
        {% if more %}
            <li class="next"><a href="/admin/1/promo_codes/redeemed?{% if theaterorg %}theaterorg={{ theaterorg.url_parameter }}&{% endif %}{% if date_from %}from={{ date_from.date() }}&{% endif %}{% if date_to %}to={{ date_to.date() }}&{% endif %}cursor={{ next_cursor.urlsafe() }}">Next &rarr;</a></li>
        {% else %}
            <li class="next disabled"><a href="#">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/jquery.isloading.min.js"></script>
    <script src="/static/js/admin_panel.js"></script>
{% endblock %}