<!DOCTYPE html>
<html>
  <head>
    <title>GMovies Claim Codes{% block extra_title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">

    {% block extra_head %}{% endblock %}

    <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/bootbox.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if users.is_current_user_admin() %}
            <a class="navbar-brand" href="/admin/1">GMovies Promo</a>
          {% else %}
            <span class="navbar-brand">GMovies Promo</span>
          {% endif %}
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="gmovies-div-header">
      <div class="page-header">
        {% block page_header %}{% endblock %}
      </div>
    </div>

    <div class="gmovies-div-container">
      {% block container_content %}{% endblock %}
    </div> <!-- /container -->

    <script src="/static/js/search_promo_code.js"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
