{% extends "templates/base2.html" %}

{% block extra_title %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block page_header %}
    <h1>Bank Deposit Claim Codes</h1>
    <div class="btn-group" role="group">
        <a href="/generate/create_promo.html" class="btn btn-default">Create GMovies Promo</a>
        <a href="/generate/create_generic_promo.html" class="btn btn-default">Create Generic GMovies Promo</a>
        <a href="/bank_deposit/get_promo_code.html" class="btn btn-default">Bank Deposit: Generate Claim Code</a>
    </div>
{% endblock %}

{% block container_content %}
    <form class="navbar-form navbar-right" role="form" action="/admin/1/promo_codes/bank_deposit" method="get">
        <div class="form-group">
            <select class="form-control" id="id_status" name="status">
                <option value="available" {% if status == 'available' %}selected="selected"{% endif %}>Available</option>
                <option value="redeemed" {% if status == 'redeemed' %}selected="selected"{% endif %}>Redeemed</option>
                <option value="expired" {% if status == 'expired' %}selected="selected"{% endif %}>Expired</option>
                <option value="search_by"  {% if status == 'search_by' %}selected="selected"{% endif %}>Claim Code</option>
            </select>
            <input placeholder="Search" class="form-control" type="text" id="id_promo_code" name="promo_code" {% if promo_code %}value="{{ promo_code }}"{% endif %} />
        </div>
        <button id="id_bank_deposit_filter_btn" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </form>
    <br><br><br>
    {% if status == 'available' %}
        <table class="table table-striped">
            <thead>
                <th>CLAIM CODE</th>
                <th>TOTAL AMOUNT</th>
                <th>EXPIRATION DATE</th>
            </thead>
            {% if promo_codes %}
                <tbody>
                    {% for promo_code in promo_codes %}
                        <tr>
                            <td>{{ promo_code.promo_code }}</td>
                            <td>{{ promo_code.purchase_amount }}</td>
                            <td>
                                {% if promo_code.expired_date %}
                                    {{ promo_code.expired_date.strftime('%m/%d/%Y %I:%M %p') }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td colspan=3 align="center">No Data Available</td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
    {% elif status == 'redeemed' %}
        <table class="table table-striped">
            <thead>
                <th>CLAIM CODE</th>
                <th>REDEEMED DATE</th>
                <th>TOTAL AMOUNT</th>
                <th>BOOKED SEATS</th>
                <th>BOOKED AMOUNT</th>
                <th>THEATER ORG</th>
                <th>EXPIRATION DATE</th>
            </thead>
            {% if promo_codes %}
                <tbody>
                    {% for promo_code in promo_codes %}
                        <tr>
                            <td>{{ promo_code.promo_code }}</td>
                            <td>
                                {% if promo_code.redeemed_on %}
                                    {{ promo_code.redeemed_on.strftime('%m/%d/%Y %I:%M %p') }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>{{ promo_code.purchase_amount }}</td>
                            <td>{{ promo_code.booked_seat_count }}</td>
                            <td>{{ promo_code.get_booked_total_amount() }}</td>
                            <td>
                                {% if get_theaterorg_name(promo_code.theaterorg_id) %}
                                    {{ get_theaterorg_name(promo_code.theaterorg_id) }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {% if promo_code.expired_date %}
                                    {{ promo_code.expired_date.strftime('%m/%d/%Y %I:%M %p') }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td colspan=6 align="center">No Data Available</td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
    {% elif status == 'expired' %}
        <table class="table table-striped">
            <thead>
                <th>CLAIM CODE</th>
                <th>TOTAL AMOUNT</th>
                <th>EXPIRATION DATE</th>
                <th>IS EXPIRED</th>
            </thead>
            {% if promo_codes %}
                <tbody>
                    {% for promo_code in promo_codes %}
                        <tr>
                            <td>{{ promo_code.promo_code }}</td>
                            <td>{{ promo_code.purchase_amount }}</td>
                            <td>
                                {% if promo_code.expired_date %}
                                    {{ promo_code.expired_date.strftime('%m/%d/%Y %I:%M %p') }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td><span class="label label-warning">{{ promo_code.is_expired }}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td colspan=4 align="center">No Data Available</td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
    {% else %}
        <table class="table table-striped">
            <thead>
                <th>CLAIM CODE</th>
                <th>REDEEMED DATE</th>
                <th>TOTAL AMOUNT</th>
                <th>BOOKED SEATS</th>
                <th>BOOKED AMOUNT</th>
                <th>THEATER ORG</th>
                <th>EXPIRATION DATE</th>
                <th>STATUS</th>
                <!-- <th>ACTIONS</th> -->
            </thead>
            {% if promo_codes %}
                <tbody>
                    {% for promo_code in promo_codes %}
                        <tr>
                            <td>{{ promo_code.promo_code }}</td>
                            <td>
                                {% if promo_code.redeemed_on %}
                                    {{ promo_code.redeemed_on.strftime('%m/%d/%Y %I:%M %p') }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>{{ promo_code.purchase_amount }}</td>
                            <td>
                                {% if promo_code.booked_seat_count %}
                                    {{ promo_code.booked_seat_count }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {% if promo_code.get_booked_total_amount() %}
                                    {{ promo_code.get_booked_total_amount() }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {% if get_theaterorg_name(promo_code.theaterorg_id) %}
                                    {{ get_theaterorg_name(promo_code.theaterorg_id) }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {% if promo_code.expired_date %}
                                    {{ promo_code.expired_date.strftime('%m/%d/%Y %I:%M %p') }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {% if promo_code.get_status() == 'Available' %}
                                    <span class="label label-primary">{{ promo_code.get_status() }}</span>
                                {% elif promo_code.get_status() == 'Redeemed' %}
                                    <span class="label label-success">{{ promo_code.get_status() }}</span>
                                {% else %}
                                    <span class="label label-warning">{{ promo_code.get_status() }}</span>
                                {% endif %}
                            </td>
                            <!-- <td> -->
                                <!-- {% if promo_code.get_status() == 'Available' %} -->
                                    <!-- <a id="edit_btn" name="edit_btn" class="btn btn-primary btn-small" href="/generate/update_claimcode.html?claim_code={{ promo_code.promo_code }}">Edit</a> -->
                                    <!-- <button id="expire_btn" name="expire_btn" class="btn btn-danger btn-small" data-button="{{ promo_code.promo_code }}">Expire</button> -->
                                <!-- {% elif promo_code.get_status() == 'Redeemed' %} -->
                                    <!-- <button id="reset_btn" name="reset_btn" class="btn btn-danger btn-small" data-button="{{ promo_code.promo_code }}">Reset</button> -->
                                <!-- {% elif promo_code.get_status() == 'Expired' %} -->
                                    <!-- <button id="reset_btn" name="reset_btn" class="btn btn-danger btn-small" data-button="{{ promo_code.promo_code }}">Reset</button> -->
                                <!-- {% else %} -->
                                    <!-- <a id="edit_btn" name="edit_btn" class="btn btn-primary btn-small" href="/generate/update_claimcode.html?claim_code={{ promo_code.promo_code }}">Edit</a> -->
                                <!-- {% endif %} -->
                        <!-- </td> -->
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td colspan=8 align="center">No Data Available</td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
    {% endif %}
    <ul class="pager">
        {% if more %}
            <li class="next"><a href="/admin/1/promo_codes/bank_deposit?{% if status %}status={{ status }}&{% endif %}{% if promo_code %}promo_code={{ promo_code }}&{% endif %}cursor={{ next_cursor.urlsafe() }}">Next &rarr;</a></li>
        {% else %}
            <li class="next disabled"><a href="#">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/admin_panel.js"></script>
{% endblock %}