{% extends "templates/admin_panel/admin_panel_base.html" %}

{% block extra_title %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block page_header %}
    <div class="btn-group" role="group">
        <a href="/bank_deposit/get_promo_code.html" class="btn btn-default">Bank Deposit: Generate Claim Code</a>
        <a href="/admin/1/promo_codes/bank_deposit" class="btn btn-default">Bank Deposit: Claim Codes</a>
    </div>
{% endblock %}

{% block container_content %}
    <table class="table table-striped">
        <thead>
            <th width="20%">Name</th>
            <th width="20%">URL Parameter</th>
            <th>Allowed Users</th>
        </thead>
        {% if theaterorgs %}
            <tbody>
                {% for theaterorg in theaterorgs %}
                    <tr>
                        <td>
                            <a href="/admin/1/promo_codes/redeemed/{{ theaterorg.url_parameter }}">{{ theaterorg.name }}</a>
                        </td>
                        <td>{{ theaterorg.url_parameter }}</td>
                        <td>
                            {% if theaterorg.allowed_users %}
                                {% for allowed_user in theaterorg.allowed_users %}
                                    {{ allowed_user }}{% if not loop.last %}, {% endif %}
                                    {% if loop.index is divisibleby 3 %}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tbody>
                <tr>
                    <td colspan=3 align="center">No Data Available</td>
                </tr>
            </tbody>
        {% endif %}
    </table>
{% endblock %}

{% block extra_js %}{% endblock %}