.form-desc {
  font-size: 11px;
}

.main-appname {
  font-weight: bold;
  font-size: 30px;
}

.tagline {
  font-size: 14px;
}

label {
  font-weight: bold;
}

.promo-code {
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  background-color: white;
}

.ui-loader-background {
  width:100%;
  height:100%;
  top:0;
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
  display:none;
  position: fixed;
  z-index:100;
}

.ui-loading .ui-loader-background {
  display:block;
}
