body {
  padding-top: 30px;
  padding-bottom: 20px;
}
.gmovies-div-container {
  padding: 15px 15px;
}

.gmovies-div-header {
  padding: 0px 15px;
}

.ui-datepicker-month {
    color: #000000;
}

.ui-datepicker-year {
    color: #000000;
}

.isloading-wrapper .isloading-right {
    margin-left: 10px;
}

.isloading-overlay {
    position: relative;
    text-align: center;
}

.isloading-overlay .isloading-wrapper {
    background: #FFFFFF;
    -webkit-border-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px;
    -moz-background-clip: padding;
    border-radius: 7px;
    background-clip: padding-box;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    top: 275px;
    z-index: 9000;
}