<!DOCTYPE html>
<html>
  <head>
    <title>GMovies Claim Codes{% block extra_title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">

    {% block extra_head %}{% endblock %}

    <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/bootbox.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.tablesorter.js"></script>
    <script>
      var return_query_set = {};
      {% if return_query_set %}
        return_query_set = {{ return_query_set|safe }};
      {% endif %}
      console.log(return_query_set);

      $("body form").attr("action", window.location.pathname)
    </script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">GMovies Promo</span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/admin/0/promo_codes">Claim Codes</a></li>
            <li><a href="/admin/0/movies">Movies</a></li>
            <li><a href="/admin/0/theaterorgs">Theater Organizations</a></li>
            <li><a href="/admin/1">Admin Panel</a></li>
            <li><a href="/admin/0/promos">Promos</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="form" method="get">
            <div class="form-group">
              <select class="form-control" id="id_search_by" name="search_by">
                <option value="all" {% if promo_code_filter == 'all' %}selected="selected"{% endif %}>All</option>
                <option value="available" {% if promo_code_filter == 'available' %}selected="selected"{% endif %}>Available</option>
                <option value="redeemed" {% if promo_code_filter == 'redeemed' %}selected="selected"{% endif %}>Redeemed</option>
                <option value="expired" {% if promo_code_filter == 'expired' %}selected="selected"{% endif %}>Expired</option>
                <option value="bank_deposit" {% if promo_code_filter == 'bank_deposit' %}selected="selected"{% endif %}>Bank Deposit</option>
                <option value="promo_code"  {% if promo_code_filter == 'promo_code' %}selected="selected"{% endif %}>Claim Code</option>
                <option value="promo_name"  {% if promo_code_filter == 'promo_name' %}selected="selected"{% endif %}>Promo Name</option>
                <option value="created_on"  {% if promo_code_filter == 'created_on' %}selected="selected"{% endif %}>Date Created</option>
                <option value="redeemed_on"  {% if promo_code_filter == 'redeemed_on' %}selected="selected"{% endif %}>Date Redeemed</option>
                <option value="expired_date"  {% if promo_code_filter == 'expired_date' %}selected="selected"{% endif %}>Date Expired</option>
              </select>
              <input placeholder="Search" class="form-control" type="text" id="id_search" name="search" {% if search_value %}value="{{ search_value }}"{% endif %} />
            </div>
            <button id="id_search_btn" type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-search"></span> Search
            </button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="gmovies-div-header">
      <div class="page-header">
        {% block page_header %}{% endblock %}
      </div>
    </div>

    <div class="gmovies-div-container">
      {% block container_content %}{% endblock %}
    </div> <!-- /container -->

    <script src="/static/js/search_promo_code.js"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
