<!DOCTYPE html>
<html>
  <head>
    <title>GMovies Claim Codes{% block extra_title %}{% endblock %}</title>

    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">

    {% block extra_head %}{% endblock %}
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">GMovies Promo</span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/admin/0/gmovies-promos">Claim Codes</a></li>
            <li><a href="/admin/0/bank_deposit">Bank Deposit</a></li>
            <li><a href="/admin/0/movies">Movies</a></li>
            <li><a href="/admin/0/theaterorgs">Theaters</a></li>
            <li><a href="/admin/0/promos">Blocked Screening</a></li>
            <li><a href="/admin/1">Admin Panel</a></li>
            <li><a href="/admin/0/api-settings">Api Settings</a></li>
            <li><a href="/admin/0/mpass_accounts">MPass Accounts</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
    </div>

    <div class="gmovies-div-header">
      <div class="page-header">
        {% block page_header %}{% endblock %}
      </div>
    </div>

    <div class="gmovies-div-container">
      {% block container_content %}{% endblock %}
    </div> <!-- /container -->

    <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/bootbox.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.tablesorter.js"></script>
    <script src="/static/js/claim_codes.js"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
