{% extends "templates/base2.html" %}

{% block extra_title %} | Movies{% endblock %}

{% block extra_head %}{% endblock %}

{% block page_header %}
    <h1>Movies</h1>
    <div class="btn-group" role="group">
        <a href="/admin/0/movies/create" class="btn btn-default">Create Movie</a>
    </div>
{% endblock %}

{% block container_content %}
    <table class="table table-striped">
        <thead>
            <th>Movie ID</th>
            <th>Title</th>
        </thead>
        {% if movies %}
            <tbody>
                {% for movie in movies %}
                    <tr>
                        <td><a href="/admin/0/movies/{{ movie.key.id() }}">{{ movie.key.id() }}</a></td>
                        <td>{{ movie.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tbody>
                <tr>
                    <td colspan=2 align="center">No Data Available</td>
                </tr>
            </tbody>
        {% endif %}
    </table>
{% endblock %}

{% block extra_js %}{% endblock %}