{% extends "templates/base2.html" %}

{% block extra_title %} | Show Movie{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .movie-form {
            width: 50%;
            float: left;
        }
    </style>
{% endblock %}

{% block page_header %}
    <h1>
        <a href="/admin/0/movies">Movies</a> > {{ movie.name }}
    </h1>
{% endblock %}

{% block container_content %}
    <div class="container">
        <div class="movie-form">
            <form method="post" action="/admin/0/movies/{{ movie.key.id() }}">
                <div class="form-group">
                    <label for="movie_title">Movie Title</label>
                    <input type="text" class="form-control" id="movie_title" name="movie_title" value="{{ movie.name }}" />
                </div>
                <div class="form-group">
                    <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}