{% extends "templates/base2.html" %}

{% block extra_title %} | Create Movie{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .movie-form {
            width: 50%;
            float: left;
        }
    </style>
{% endblock %}

{% block page_header %}
    <h1><a href="/admin/0/movies">Movies</a> > Create</h1>
{% endblock %}

{% block container_content %}
    <div class="container">
        <div class="movie-form">
            <form method="post" action="/admin/0/movies/create">
                <div class="form-group">
                    <label for="movie_id">GMovies Movie ID</label>
                    <input type="text" class="form-control"  id="movie_id" name="movie_id" />
                </div>
                <div class="form-group">
                    <label for="theaterorg_name">Movie Title</label>
                    <input type="text" class="form-control" id="movie_title" name="movie_title" />
                </div>
                <div>
                    <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}