{% extends "templates/base2.html" %}

{% block extra_title %}{% endblock %}

{% block extra_head %}
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block page_header %}
    <h1>
        GMovies Promos
        <form class="navbar-form navbar-right" role="form" method="get" action="/admin/0/promo_codes">
            <div class="form-group">
                <select class="form-control" id="id_filter_by" name="filter_by">
                <option value="all">All</option>
                <option value="promo_code"  {% if filter_by == 'promo_code' %}selected="selected"{% endif %}>Claim Code</option>
                <option value="promo_name"  {% if filter_by == 'promo_name' %}selected="selected"{% endif %}>Promo Name</option>
                <option value="batch_code"  {% if filter_by == 'batch_code' %}selected="selected"{% endif %}>Batch Code</option>
                </select>
                <input placeholder="Search Claim Codes" class="form-control" type="text" id="id_filter_value" name="filter_value" {% if filter_value %}value="{{ filter_value }}"{% endif %} />
            </div>
            <button id="id_search_btn" type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </form>
    </h1>
    <div class="btn-group" role="group">
        <a href="/generate/create_promo.html" class="btn btn-default">Create GMovies Promo</a>
        <a href="/generate/create_generic_promo.html" class="btn btn-default">Create Generic GMovies Promo</a>
        <a href="/bank_deposit/get_promo_code.html" class="btn btn-default">Bank Deposit: Generate Claim Code</a>
    </div>
{% endblock %}

{% block container_content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>PROMO NAME</th>
                <th>MIN SEATS</th>
                <th>MAX SEATS</th>
                <th>MAX AMOUNT</th>
                <th>SCREENING DATE & TIME</th>
                <th>START DATE & TIME</th>
                <th>EXPIRATION DATE & TIME</th>
                <th>DATE CREATED</th>
            </tr>
        </thead>
        <tbody>
            {% if promo_categories %}
                {% for promo_category in promo_categories %}
                    <tr>
                        <td><a href="/admin/0/gmovies-promos/{{ promo_category.key.id() }}">{{ promo_category.name }}</a></td>
                        <td>{{ promo_category.min_seats }}</td>
                        <td>{{ promo_category.max_seats }}</td>
                        <td>{{ promo_category.max_amount }}</td>
                        <td>{% if promo_category.screening_date %}{{ promo_category.screening_date }} {{ promo_category.screening_time }}{% endif %}</td>
                        <td>{% if promo_category.start_date %}{{ promo_category.start_date }} {{ promo_category.start_time }}{% endif %}</td>
                        <td>{% if promo_category.expiration_date %}{{ promo_category.expiration_date }} {{ promo_category.expiration_time }}{% endif %}</td>
                        <td>{{ promo_category.date_created }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan=6 align="center">No Data Available</td></tr>
            {% endif %}
        </tbody>
    </table>
    <ul class="pager">
        {% if more %}
            <li class="next"><a href="/admin/0/gmovies-promos?cursor={{ next_cursor.urlsafe() }}">Next &rarr;</a></li>
        {% else %}
            <li class="next disabled"><a href="#">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/jquery.isloading.min.js"></script>
{% endblock %}