{% extends "templates/base2.html" %}

{% block extra_title %}{% endblock %}

{% block extra_head %}
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block page_header %}
    <h1>
        Claim Codes
        <form class="navbar-form navbar-right" role="form" method="get" action="/admin/0/promo_codes">
            <div class="form-group">
                <select class="form-control" id="id_filter_by" name="filter_by">
                <option value="all">All</option>
                <option value="promo_code"  {% if filter_by == 'promo_code' %}selected="selected"{% endif %}>Claim Code</option>
                <option value="promo_name"  {% if filter_by == 'promo_name' %}selected="selected"{% endif %}>Promo Name</option>
                <option value="batch_code"  {% if filter_by == 'batch_code' %}selected="selected"{% endif %}>Batch Code</option>
                </select>
                <input placeholder="Search Claim Codes" class="form-control" type="text" id="id_filter_value" name="filter_value" {% if filter_value %}value="{{ filter_value }}"{% endif %} />
            </div>
            <button id="id_search_btn" type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </form>
    </h1>
    <div class="btn-group" role="group">
        <a href="/generate/create_promo.html" class="btn btn-default">Create GMovies Promo</a>
        <a href="/generate/create_generic_promo.html" class="btn btn-default">Create Generic GMovies Promo</a>
        <!-- <a href="/generate/get_promo_code.html" class="btn btn-default">Generate Claim Code</a> -->
        <a href="/bank_deposit/get_promo_code.html" class="btn btn-default">Bank Deposit: Generate Claim Code</a>
        <a href="#" class="btn btn-default" id="id_count_btn" data-button='{"filter_by": "{{ filter_by }}", "filter_value": "{{ filter_value }}"}'>Count Claim Codes</a>
    </div>
{% endblock %}

{% block container_content %}
{% if filter_by == 'promo_name' %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>PROMO NAME</th>
                <th>MAX SEATS</th>
                <th>MAX AMOUNT</th>
                <th>START DATE & TIME</th>
                <th>EXPIRATION DATE & TIME</th>
                <th>DATE CREATED</th>
            </tr>
        </thead>
        <tbody>
            {% if claimcodes %}
                {% for claimcode in claimcodes %}
                    <tr>
                        <td><a href="/admin/0/gmovies-promos/{{ claimcode.key.id() }}">{{ claimcode.name }}</a></td>
                        <td>{{ claimcode.max_seats }}</td>
                        <td>{{ claimcode.max_amount }}</td>
                        <td>{% if claimcode.start_date %}{{ claimcode.start_date }} {{ claimcode.start_time }}{% endif %}</td>
                        <td>{% if claimcode.expiration_date %}{{ claimcode.expiration_date }} {{ claimcode.expiration_time }}{% endif %}</td>
                        <td>{{ claimcode.date_created }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan=6 align="center">No Data Available</td></tr>
            {% endif %}
        </tbody>
    </table>
    <ul class="pager">
        {% if more %}
            <li class="next"><a href="/admin/0/promo_codes?{% if filter_by %}filter_by={{ filter_by }}&{% endif %}{% if filter_value %}filter_value={{ filter_value }}&{% endif %}cursor={{ next_cursor.urlsafe() }}">Next &rarr;</a></li>
        {% else %}
            <li class="next disabled"><a href="#">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% else %}
    <table id="gmovies-promo-table" class="table table-striped tablesorter" table-data-length="{{ query_set_page|length }}">
        <thead>
            <tr>
                <th>CLAIM CODE</th>
                <th>PROMO NAME</th>
                <th>REDEMPTION COUNT</th>
                <th>MAX SEATS</th>
                <th>MAX AMOUNT</th>
                <th>REDEMPTION DATE</th>
                <th>EXPIRATION DATE</th>
                <th>STATUS</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            {% if claimcodes %}
                {% for claimcode in claimcodes %}
                    <tr>
                        <td>{{ claimcode.promo_code }}</td>
                        <td>{% if claimcode.promo_name %}{{ claimcode.promo_name }}{% endif %}</td>
                        <td>{% if claimcode.is_generic %}
                                {{ claimcode.redemption_count }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>{{ claimcode.seat_count }}</td>
                        <td>{{ claimcode.get_total_amount() }}</td>
                        <td>{% if claimcode.redeemed_on %}{{ claimcode.redeemed_on }}{% endif %}</td>
                        <td>{% if claimcode.expired_date %}{{ claimcode.expired_date }}{% endif %}</td>
                        <td>
                            {% if claimcode.get_status() == 'Available' %}
                                <span class="label label-primary">{{ claimcode.get_status() }}</span>
                            {% elif claimcode.get_status() == 'Redeemed' %}
                                <span class="label label-success">{{ claimcode.get_status() }}</span>
                            {% else %}
                                <span class="label label-warning">{{ claimcode.get_status() }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if claimcode.get_status() == 'Available' %}
                                <a id="edit_btn" name="edit_btn" class="btn btn-primary btn-small" href="/generate/update_claimcode.html?claim_code={{ claimcode.promo_code }}">Edit</a>
                                <button id="expire_btn" name="expire_btn" class="btn btn-danger btn-small" data-button="{{ claimcode.promo_code }}">Expire</button>
                            {% elif claimcode.get_status() == 'Redeemed' %}
                                <button id="reset_btn" name="reset_btn" class="btn btn-danger btn-small" data-button="{{ claimcode.promo_code }}">Reset</button>
                            {% elif claimcode.get_status() == 'Expired' %}
                                <a id="edit_btn" name="edit_btn" class="btn btn-primary btn-small" href="/generate/update_claimcode.html?claim_code={{ claimcode.promo_code }}">Edit</a>
                                <button id="reset_btn" name="reset_btn" class="btn btn-danger btn-small" data-button="{{ claimcode.promo_code }}">Reset</button>
                            {% else %}
                                <a id="edit_btn" name="edit_btn" class="btn btn-primary btn-small" href="/generate/update_claimcode.html?claim_code={{ claimcode.promo_code }}">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan=8 align="center">No Data Available</td></tr>
            {% endif %}
        </tbody>
    </table>
    <ul class="pager">
        {% if more %}
            <li class="next"><a href="/admin/0/promo_codes?{% if filter_by %}filter_by={{ filter_by }}&{% endif %}{% if filter_value %}filter_value={{ filter_value }}&{% endif %}cursor={{ next_cursor.urlsafe() }}">Next &rarr;</a></li>
        {% else %}
            <li class="next disabled"><a href="#">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}
{% endblock %}

{% block extra_js %}
    <script src="/static/js/jquery.isloading.min.js"></script>
{% endblock %}