{% extends "templates/base.html" %}

{% block extra_title %}{% endblock %}

{% block extra_head %}
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block page_header %}
    <h1>Claim Codes</h1>
{% endblock %}
    <table id="table-head" class="table table-striped">
        <thead></thead>
        <tbody>
            <tr>
                <td>Status</td>
                <td>Available</td>
            </tr>
            <tr>
                <td>Seat Count</td>
                <td>2.0</td>
            </tr>
            <tr>
                <td>Price Per Seat</td>
                <td>250.00</td>
            </tr>
            <tr>
                <td>Expired Date</td>
                <td>08/25/2015 11:59 PM</td>
            </tr>
        </tbody>
    </table>
{% block container_content %}
    <table id="table-details" class="table table-striped">
        <thead>
            <tr>
                <th id="promo_code">CLAIM CODE</th>
                {% if promo_code_filter == 'created_on' %}
                    <th id="created_on">DATE CREATED</th>
                {% else %}
                    <th id="promo_name">PROMO NAME</th>
                {% endif %}
                <th id="redeemed_on">DATE REDEEMED</th>
                <th>SEAT COUNT</th>     
                <th>TOTAL AMOUNT</th>
                <th>EXPIRATION DATE</th>
                <th>BANK DEPOSIT</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan=9 align="center">No Data Available</td>
            </tr>
        </tbody>
    </table>
    <ul class="pager">
        <li class="next disabled"><a href="#">Next &rarr;</a></li>
    </ul>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/jquery.isloading.min.js"></script>
{% endblock %}
