{% extends "templates/base2.html" %}

{% block extra_title %}{% endblock %}

{% block extra_head %}
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <style type="text/css">
        .promo-category-container {
            width: 33%;
            float: right;
        }
        .claim-codes-container {
            width: 65%;
            float: left;
        }
    </style>
{% endblock %}

{% block page_header %}
    <h1><a href="/admin/0/gmovies-promos">GMovies Promos</a> > {{ promo_category.name }}</h1>
    <div class="btn-group" role="group">
        <a href="/generate/update_promo.html?id={{ promo_category.key.id() }}" class="btn btn-default">Update Promo</a>
        {% if not promo_category.is_generic %}
            <a href="/generate/generate_claimcodes.html?id={{ promo_category.key.id() }}" class="btn btn-default">Generate Claim Codes</a>
        {% endif %}
        <a href="/admin/0/gmovies-promos/{{ promo_category.key.id() }}" class="btn btn-default" id="refresh_claim_codes" >Refresh Claim Codes</a>
    </div>
{% endblock %}

{% block container_content %}
    <div class="promo-category-container">
        <h3>PROMO INFORMATION:</h3>
        <strong>NAME: </strong> {{ promo_category.name }}<br />
        <strong>PREFIX: </strong> {{ promo_category.prefix }}<br />
        <strong>MIN SEATS: </strong> {{ promo_category.min_seats }}<br />
        <strong>MAX SEATS: </strong> {{ promo_category.max_seats }}<br />
        <strong>MAX REDEMPTIONS: </strong> {{ promo_category.redeem_count }}<br />
        <strong>MAX AMOUNT: </strong> {{ promo_category.max_amount }}<br />
        <strong>SCREENING DATE: </strong> {{ promo_category.screening_date }}<br />
        <strong>SCREENING TIME: </strong> {{ promo_category.screening_time }}<br />
        <strong>START DATE: </strong> {{ promo_category.start_date }}<br />
        <strong>START TIME: </strong> {{ promo_category.start_time }}<br />
        <strong>EXPIRATION DATE: </strong> {{ promo_category.expiration_date }}<br />
        <strong>EXPIRATION TIME: </strong> {{ promo_category.expiration_time }}<br />
        <strong>IS VALID: </strong> {% if promo_category.is_valid %}<span class="label label-success">{{ promo_category.is_valid }}</span>{% else %}<span class="label label-default">{{ promo_category.is_valid }}</span>{% endif %}<br />
        <strong>IS GENERIC: </strong> {% if promo_category.is_generic %}<span class="label label-success">{{ promo_category.is_generic }}</span>{% else %}<span class="label label-default">{{ promo_category.is_generic }}</span>{% endif %}<br />
        <strong>GLOBE SUBSIDIZE: </strong> {{ promo_category.globe_subsidize_amount }}<br />
        <strong>THIRD PARTY COMPANY NAME: </strong> {{ promo_category.thirdparty_company_name }}<br />
        <strong>THIRD PARTY SUBSIDIZE: </strong> {{ promo_category.thirdparty_subsidize_amount }}<br />
        <strong>MPASS ACCOUNT: </strong> {{ promo_category.mpass_wallet }}<br />
        <strong>DATE CREATED: </strong> {{ promo_category.date_created }}<br />
        <strong>CREATED BY: </strong> {{ promo_category.created_by }}<br />
        <strong>DATE UPDATED: </strong> {{ promo_category.date_updated }}<br />
        <strong>UPDATED BY: </strong> {{ promo_category.updated_by }}<br />
        <strong>EMAIL TO: </strong> {{ promo_category.email_to }}<br />

        <h3>CLAIM CODES COUNT:</h3>
        <strong>GENERATED: </strong> {{ promo_category.get_count_generated_claimcode() }}<br />
        <strong>AVAILABLE: </strong> {{ promo_category.get_count_available_claimcode() }}<br />
        <strong>REDEEMED: </strong> {{ promo_category.get_count_redeemed_claimcode() }}<br />
        <strong>EXPIRED: </strong> {{ promo_category.get_count_expired_claimcode() }}<br />
        <strong>INVALID: </strong> {{ promo_category.get_count_invalid_claimcode() }}<br />

        {% if promo_category.movies %}
            <h3>MOVIES ALLOWED:</h3>
            <ul>
                {% for movie in promo_category.movies %}
                    <li>{{ movie.get().name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if promo_category.theaters %}
            <h3>THEATERS ALLOWED:</h3>
            <ul>
                {% for theater in promo_category.theaters %}
                    <li>{{ theater.get().name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if promo_category.whitelist %}
            <h3>WHITELISTED MOBILE NUMBERS:</h3>
            <ul>
                {% for mobnum in promo_category.whitelist %}
                    <li> {{ mobnum }} </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if promo_category.blacklist %}
            <h3>BLACKLISTED MOBILE NUMBERS:</h3>
            <ul>
                {% for mobnum in promo_category.blacklist %}
                    <li> {{ mobnum }} </li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
    <div class="claim-codes-container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#available" role="tab" data-toggle="tab">Available</a></li>
            <li><a href="#redeemed" role="tab" data-toggle="tab">Redeemed</a></li>
            <li><a href="#expired" role="tab" data-toggle="tab">Expired</a></li>
            <li><a href="#invalid" role="tab" data-toggle="tab">Invalid</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="available">
                <h3>AVAILABLE CLAIM CODES:</h3>
                <table class="table table-striped tablesorter">
                    <thead>
                        <tr>
                            <th>CLAIM CODES</th>
                            <th>REDEMPTION COUNT</th>
                            <th>MAX SEATS</th>
                            <th>MAX AMOUNT</th>
                            <th>EXPIRATION DATE</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if claimcodes_available %}
                            {% for available in claimcodes_available %}
                                <tr>
                                    <td>{{ available.promo_code }}</td>
                                    <td>{% if available.is_generic %}
                                            {{ available.redemption_count }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td>{{ available.seat_count }}</td>
                                    <td>{{ available.get_total_amount() }}</td>
                                    <td>{{ available.expired_date }}</td>
                                    <td>
                                        <a id="edit_btn" name="edit_btn" class="btn btn-primary btn-small" href="/generate/update_claimcode.html?claim_code={{ available.promo_code }}">Edit</a>
                                        <button id="expire_btn" name="expire_btn" class="btn btn-danger btn-small" data-button="{{ available.promo_code }}">Expire</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan=5 align="center">No Data Available</td></tr>
                        {% endif %}
                    </tbody>
                </table>
                <ul class="pager">
                    {% if a_more %}
                        <li class="next"><a href="/admin/0/gmovies-promos/{{ promo_category.key.id() }}?cursor_available={{ a_next_cursor.urlsafe() }}">Next &rarr;</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">Next &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="tab-pane" id="redeemed">
                <h3>REDEEMED CLAIM CODES:</h3>
                <table class="table table-striped tablesorter">
                    <thead>
                        <tr>
                            <th>CLAIM CODES</th>
                            <th>REDEMPTION COUNT</th>
                            <th>BOOKED SEATS</th>
                            <th>BOOKED AMOUNT</th>
                            <th>REDEMPTION DATE</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if claimcodes_redeemed %}
                            {% for redeemed in claimcodes_redeemed %}
                                <tr>
                                    <td>{{ redeemed.promo_code }}</td>
                                    <td>{% if redeemed.is_generic %}
                                            {{ redeemed.redemption_count }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if redeemed.booking_details %}
                                            {{ redeemed.booking_details.booked_seat_count }}
                                        {% else %}
                                            {{ redeemed.booked_seat_count }}
                                        {% endif %}
                                    </td>
                                    <td>{{ redeemed.get_booked_total_amount() }}</td>
                                    <td>{{ redeemed.redeemed_on }}</td>
                                    <td>
                                        <button id="reset_btn" name="reset_btn" class="btn btn-danger btn-small" data-button="{{ redeemed.promo_code }}">Reset</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan=5 align="center">No Data Available</td></tr>
                        {% endif %}
                    </tbody>
                </table>
                <ul class="pager">
                    {% if r_more %}
                        <li class="next"><a href="/admin/0/gmovies-promos/{{ promo_category.key.id() }}?cursor_redeemed={{ r_next_cursor.urlsafe() }}">Next &rarr;</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">Next &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="tab-pane" id="expired">
                <h3>EXPIRED CLAIM CODES:</h3>
                <table class="table table-striped tablesorter">
                    <thead>
                        <tr>
                            <th>CLAIM CODES</th>
                            <th>REDEMPTION COUNT</th>
                            <th>EXPIRATION DATE</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if claimcodes_expired %}
                            {% for expired in claimcodes_expired %}
                                <tr>
                                    <td>{{ expired.promo_code }}</td>
                                    <td>{% if expired.is_generic %}
                                            {{ expired.redemption_count }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td>{{ expired.expired_date }}</td>
                                    <td>
                                        <a id="edit_btn" name="edit_btn" class="btn btn-primary btn-small" href="/generate/update_claimcode.html?claim_code={{ expired.promo_code }}">Edit</a>
                                        <button id="reset_btn" name="reset_btn" class="btn btn-danger btn-small" data-button="{{ expired.promo_code }}">Reset</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan=5 align="center">No Data Available</td></tr>
                        {% endif %}
                    </tbody>
                </table>
                <ul class="pager">
                    {% if e_more %}
                        <li class="next"><a href="/admin/0/gmovies-promos/{{ promo_category.key.id() }}?cursor_expired={{ e_next_cursor.urlsafe() }}">Next &rarr;</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">Next &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="tab-pane" id="invalid">
                <h3>INVALID CLAIM CODES:</h3>
                <table class="table table-striped tablesorter">
                    <thead>
                        <tr>
                            <th>CLAIM CODES</th>
                            <th>REDEMPTION COUNT</th>
                            <th>MAX SEATS</th>
                            <th>MAX AMOUNT</th>
                            <th>EXPIRATION DATE</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if claimcodes_invalid %}
                            {% for invalid in claimcodes_invalid %}
                                <tr>
                                    <td>{{ invalid.promo_code }}</td>
                                    <td>{% if invalid.is_generic %}
                                            {{ invalid.redemption_count }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td>{{ invalid.seat_count }}</td>
                                    <td>{{ invalid.get_total_amount() }}</td>
                                    <td>{{ invalid.expired_date }}</td>
                                    <td>
                                        <a id="edit_btn" name="edit_btn" class="btn btn-primary btn-small" href="/generate/update_claimcode.html?claim_code={{ invalid.promo_code }}">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan=5 align="center">No Data Available</td></tr>
                        {% endif %}
                    </tbody>
                </table>
                <ul class="pager">
                    {% if i_more %}
                        <li class="next"><a href="/admin/0/gmovies-promos/{{ promo_category.key.id() }}?cursor_invalid={{ i_next_cursor.urlsafe() }}">Next &rarr;</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">Next &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/jquery.isloading.min.js"></script>
    <script type="text/javascript">

        $("#refresh_claim_codes").click(function() {
            var url = "/tasks/refresh-claimcodes";

            $.isLoading({ text: "Initiating background task. Please wait..." });
            $.ajax({
                    url: url,
                    type: "GET",
                    success: function(data) {
                        console.log(data.status);
                        switch (data.status) {
                            case 'ok':
                                $.isLoading("hide");
                                return;
                            case 'error':
                                $.isLoading("hide");
                                return;
                            default:
                                $.isLoading("hide");
                                return;
                        }
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        if(jqXHR.status == 404 || errorThrown == 'Not Found')
                        {
                            $.isLoading("hide");
                            console.log('There was a 404 error.');
                        }
                    }
            });
        });
    </script>
{% endblock %}