{% extends "templates/base2.html" %}

{% block extra_title %} | Show Theater{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .theater-form {
            width: 50%;
            float: left;
        }
    </style>
{% endblock %}

{% block page_header %}
    <h1>
        <a href="/admin/0/theaterorgs/{{ theaterorg.key.id() }}">{{ theaterorg.name }}</a>
        > {{ theater.name }}
    </h1>
{% endblock %}

{% block container_content %}
    <div class="container">
        <div class="theater-form">
            <form method="post" action="/admin/0/theaterorgs/{{ theaterorg.key.id() }}/theaters/{{ theater.key.id() }}">
                <div class="form-group">
                    <label for="gmovies_theater_id">GMovies Theater ID</label>
                    <input type="text" class="form-control"  id="gmovies_theater_id" name="gmovies_theater_id" value="{{ theater.gmovies_theater_id }}" />
                </div>
                <div class="form-group">
                    <label for="theater_name">Theater Name</label>
                    <input type="text" class="form-control" id="theater_name" name="theater_name" value="{{ theater.name }}" />
                </div>
                <div class="form-group">
                    <label for="theater_code">Theater Code</label>
                    <input type="text" class="form-control" id="theater_code" name="theater_code" value="{{ theater.theater_code }}" />
                </div>
                <div class="form-group">
                    <label for="url_parameter">URL Parameter</label>
                    <input type="text" class="form-control" id="url_parameter" name="url_parameter" value="{{ theater.url_parameter }}" />
                </div>
                <div class="form-group">
                    <label for="allowed_users">Allowed Users</label>
                    <input type="text" class="form-control" id="allowed_users" name="allowed_users" value="{{ allowed_users }}">
                </div>
                <div class="form-group">
                    <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}