{% extends "templates/base2.html" %}

{% block extra_title %} | Create Theater Organization{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .theaterorg-form {
            width: 50%;
            float: left;
        }
    </style>
{% endblock %}

{% block page_header %}
    <h1>
        <a href="/admin/0/theaterorgs">Theater Organizations</a>
        > Create
    </h1>
{% endblock %}

{% block container_content %}
    <div class="container">
        <div class="theaterorg-form">
            <form method="post" action="/admin/0/theaterorgs/create">
                <div class="form-group">
                    <label for="gmovies_theaterorg_id">GMovies Theater Organization ID</label>
                    <input type="text" class="form-control"  id="gmovies_theaterorg_id" name="gmovies_theaterorg_id" />
                </div>
                <div class="form-group">
                    <label for="theaterorg_name">Theater Organization Name</label>
                    <input type="text" class="form-control" id="theaterorg_name" name="theaterorg_name" />
                </div>
                <div class="form-group">
                    <label for="url_parameter">URL Parameter</label>
                    <input type="text" class="form-control" id="url_parameter" name="url_parameter" />
                </div>
                <div>
                    <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}