{% extends "templates/base2.html" %}

{% block extra_title %} | Show Theater Organization{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .theaterorg-form {
            width: 50%;
            float: left;
        }
        .theaters-list {
            float: right;
        }
    </style>
{% endblock %}

{% block page_header %}
    <h1>
        <a href="/admin/0/theaterorgs">Theater Organizations</a>
        > {{ theaterorg.name }}
    </h1>
    <div class="btn-group" role="group">
        <a href="/admin/0/theaterorgs/{{ theaterorg.key.id() }}/theaters/create" class="btn btn-default">Create Theater</a>
    </div>
{% endblock %}

{% block container_content %}
    <div class="container">
        <div class="theaterorg-form">
            <form method="post" action="/admin/0/theaterorgs/{{ theaterorg.key.id() }}">
                <div class="form-group">
                    <label for="gmovies_theaterorg_id">GMovies Theater Organization ID</label>
                    <input type="text" class="form-control"  id="gmovies_theaterorg_id" name="gmovies_theaterorg_id" value="{{ theaterorg.gmovies_theaterorg_id }}" />
                </div>
                <div class="form-group">
                    <label for="theaterorg_name">Theater Organization Name</label>
                    <input type="text" class="form-control" id="theaterorg_name" name="theaterorg_name" value="{{ theaterorg.name }}" />
                </div>
                <div class="form-group">
                    <label for="url_parameter">URL Parameter</label>
                    <input type="text" class="form-control" id="url_parameter" name="url_parameter" value="{{ theaterorg.url_parameter }}" />
                </div>
                <div class="form-group">
                    <label for="allowed_users">Allowed Users</label>
                    <input type="text" class="form-control" id="allowed_users" name="allowed_users" value="{{ allowed_users }}" />
                </div>
                <div class="form-group">
                    <button name="action_save" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
        <div class="theaters-list">
        <h3>Theaters</h3>
            {% if theaters %}
                <ul class="unstyled">
                    {% for t in theaters %}
                        <li><a href="/admin/0/theaterorgs/{{ theaterorg.key.id() }}/theaters/{{ t.key.id() }}">{{ t.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <i>None</i>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}