{% extends "templates/base2.html" %}

{% block extra_title %} | Theater Organizations{% endblock %}

{% block extra_head %}{% endblock %}

{% block page_header %}
    <h1>Theater Organizations</h1>
    <div class="btn-group" role="group">
        <a href="/admin/0/theaterorgs/create" class="btn btn-default">Create Theater Organization</a>
    </div>
{% endblock %}

{% block container_content %}
    <table class="table table-striped">
        <thead>
            <th>Theater Organizations</th>
            <th>Theater Organization ID</th>
        </thead>
        {% if theaterorgs %}
            <tbody>
                {% for o in theaterorgs %}
                    <tr>
                        <td>
                            <a href="/admin/0/theaterorgs/{{ o }}">{{ theaterorgs[o] }}</a>
                        </td>
                        <td>{{ o }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tbody>
                <tr>
                    <td colspan=4 align="center">No Data Available</td>
                </tr>
            </tbody>
        {% endif %}
    </table>
{% endblock %}

{% block extra_js %}{% endblock %}