{% extends "templates/base.html" %}

{% block extra_title %}{% endblock %}

{% block extra_head %}
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block page_header %}
    <h1>Gmovies Promos</h1>
    <script src="/static/js/promos.js"></script>
    <div class="btn-group" role="group">
        <a href="/admin/0/promos/generate_promo_code" class="btn btn-default">Generate</a>
    </div>
{% endblock %}

{% block container_content %}
    <table id="promos-table" class="table table-striped tablesorter">
        <thead>
            <tr>
                <th id="promo_code">CLAIM CODE</th>
                <th id="promo_code">PROMO ID</th>
                {% if promo_code_filter == 'created_on' %}
                    <th id="created_on">DATE CREATED</th>
                {% else %}
                    <th id="promo_name">PROMO NAME</th>
                {% endif %}
                <th id="redeemed_on">DATE REDEEMED</th>
                <th>SEAT COUNT</th>
                <th>TOTAL AMOUNT</th>
                <th>EXPIRATION DATE</th>
                <th>STATUS</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            {% if return_query_set %}
                {% set row_counter = 1 %}
                {% for promo_code in return_query_set %}
                    <tr title="Row# {{ row_counter }}">
                        <td>{{ promo_code["promo_code"] }}</td>
                        <td>
                            {% if promo_code["promo_id"] == "N/A" %}
                                {{ promo_code["promo_id"] }}
                            {% else %}
                                {{",".join(promo_code["promo_id"]) }}
                            {% endif %}
                        </td>
                        <td>
                            {% if promo_code_filter == 'created_on' %}
                                {% if promo_code["created_on"] == "01/01/1999 12:00 AM" %}
                                    N/A
                                {% else %}
                                    {{ promo_code["created_on"] }}
                                {% endif %}
                            {% else %}
                                {{ promo_code["promo_name"] }}
                            {% endif %}
                        </td>
                        <td>
                            {% if "redeemed_on" in promo_code %}
                                {% if promo_code["redeemed_on"] == "01/01/1999 12:00 AM" %}
                                    N/A
                                {% else %}
                                    {{ promo_code["redeemed_on"] }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {{ promo_code["seat_count"] }}
                        </td>
                        <td>
                            {{ promo_code["total_amount"] }}
                        </td>
                        <td>
                            {% if "expired_date" in promo_code %}
                                {% if promo_code["expired_date"] == "01/01/1999 12:00 AM" %}
                                    N/A
                                {% else %}
                                    {{ promo_code["expired_date"] }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if promo_code["status"] == 'Available' %}
                                <span class="label label-primary">{{ promo_code["status"] }}</span>
                            {% elif promo_code["status"] == 'Redeemed' %}
                                <span class="label label-success">{{ promo_code["status"] }}</span>
                            {% else %}
                                <span class="label label-warning">{{ promo_code["status"] }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <button id="id_redeem_promo_btn" name="promos-redeem_btn" data-button="{{ promo_code['promo_code'] }}" class="btn btn-success btn-small">Rm</button>
                            <button id="id_reset_promo_btn" name="promos-reset_btn" data-button="{{ promo_code['promo_code'] }}" class="btn btn-primary btn-small">Rt</button>
                            <button id="id_expire_promo_btn" name="promos-expire_btn" data-button="{{ promo_code['promo_code'] }}" class="btn btn-danger btn-small">Ee</button>
                        </td>
                    </tr>
                    {% set row_counter = row_counter + 1 %}
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan=9 align="center">No Data Available</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <ul class="pager">
        <li class="next disabled"><a href="#">Next &rarr;</a></li>
    </ul>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/jquery.isloading.min.js"></script>
{% endblock %}
