{% extends "templates/base2.html" %}
{% block extra_title %} | Add API Client{% endblock %}
{% block extra_head %}
<style type="text/css">
    .movie-form {
        width: 50%;
        float: left;
    }
</style>
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
{% endblock %}

{% block page_header %}
    <h3>
        Client Api Settings
        <button type="button" class="action btn btn-primary pull-right" data-action="action-add"><i class="glyphicon glyphicon-plus"></i> Add New</button>
    </h3>
{% endblock %}

{% block container_content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>CLIENT</th>
                <th>SLUG</th>
                <th>TOKEN</th>
                <th>STATUS</th>
                <th class="text-center" style="width: 10%">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% if query_set_page %}
                {% for data in query_set_page %}
                    <tr>
                        <td>{{data.name}}</td>
                        <td>{{data.slug}}</td>
                        <td>{{data.token}}</td>
                        <td>
                            {% if data.status == 'active' %}
                            <label class="label label-success">{{data.status}}</label>
                            {% else %}
                            <label class="label label-danger">{{data.status}}</label>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if data.status == 'active' %}
                            <button type="button" class="action btn btn-info btn-xs" data-action="view" data-id="{{data.key.id()}}" data-toggle="tooltip" data-placement="left" title="View"><i class="glyphicon glyphicon-eye-open"></i></button>
                            <button type="button" class="action btn btn-warning btn-xs" data-action="edit" data-id="{{data.key.id()}}" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="glyphicon glyphicon-edit"></i></button>
                            <button type="button" class="action btn btn-danger btn-xs" data-action="confirm-delete" data-id="{{data.key.id()}}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="glyphicon glyphicon-trash"></i></button>
                            {% else %}
                            <button type="button" class="action btn btn-info btn-xs" data-action="view" data-id="{{data.key.id()}}" data-toggle="tooltip" data-placement="left" title="View"><i class="glyphicon glyphicon-eye-open"></i></button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan=4 align="center">No Data Available</td></tr>
            {% endif %}
        </tbody>
    </table>
    <ul class="pager">
        {% if more %}
            <li class="next"><a href="/admin/0/api-settings?cursor={{ next_cursor.urlsafe() }}">Next &rarr;</a></li>
        {% else %}
            <li class="next disabled"><a href="#">Next &rarr;</a></li>
        {% endif %}
    </ul>
</div>
<div class="modal modal-confirm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Cofirm Delete <i class="glyphicon glyphicon-trash"></i></h4>
            </div>
            <div class="modal-body">
                <h3>Are you sure you want to delete this data ?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="action btn btn-danger action-delete" data-action="delete" data-id="">Proceed </button>
            </div>
        </div>
    </div>
</div>
<div class="modal dynamicModal" data-backdrop="static" id="dynamicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-data">
                <div class="modal-header done_loading" style="display: none">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <h4 class="text-center is_loading">Loading ...</h4>

                    <div class="row">
                        <div class="alert alert-danger message" style="display: none"></div>
                        <div class="col-md-12 list" style="display: none">
                            <table class="table">
                                <tr>
                                    <td>Name:</td>
                                    <td class="name"></td>
                                </tr>
                                <tr>
                                    <td>Slug:</td>
                                    <td class="slug"></td>
                                </tr>
                                <tr>
                                    <td>Token:</td>
                                    <td class="token"></td>
                                </tr>
                                <tr>
                                    <td>Promo Names:</td>
                                    <td class="promo_name"></td>
                                </tr>
                                <tr>
                                    <td>Prefixes:</td>
                                    <td class="prefix"></td>
                                </tr>
                                <tr>
                                    <td>Client Callback Endpoint:</td>
                                    <td class="endpoint"></td>
                                </tr>
                                <tr>
                                    <td>Client Callback Https Method:</td>
                                    <td class="method"></td>
                                </tr>
                                <tr>
                                    <td>Client Callback Payload:</td>
                                    <td class="payload"></td>
                                </tr>
                                <tr>
                                    <td>Client Callback Payload:</td>
                                    <td class="payload"></td>
                                </tr>
                                <tr>
                                    <td>Client Callback Headers:</td>
                                    <td class="headers"></td>
                                </tr>
                                <tr>
                                    <td>Created At:</td>
                                    <td class="created_at"></td>
                                </tr>
                                <tr>
                                    <td>Updated At:</td>
                                    <td class="updated_at"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-12 inputs" style="display: none">
                            <div class="form-group">
                                <label class="control-label">Client Name</label>
                                <input type="text" class="form-control" name="name" required="required">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Slug</label>
                                <input type="text" class="form-control" name="slug" required="required">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Promo Names <small>(comma seperated if more than 1, eg. (name, name2. name3) )</small></label>
                                <textarea class="form-control" name="promo_name" required="required"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Prefixes <small>(comma seperated if more than 1, eg. (prefix, prefix2. prefix3) )</small></label>
                                <textarea class="form-control" name="prefix" required="required"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Client Callback Endpoint (valid url: http:// or https:// )</label>
                                <input type="url" class="form-control" name="endpoint" required="required">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Client Callback Http Method (valid method: default is GET. other POST, PUT, DELETE )</label>
                                <input type="text" class="form-control" name="method" required="required">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Client Callback Payload (ex. {"voucher": ":code"} )</label>
                                <textarea class="form-control" name="payload"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Client Callback headers (Ex.{"auth-id": "client-auth-id"} )</label>
                                <textarea class="form-control" name="headers"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer done_loading" style="display: none">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="action btn btn-primary not-crud" data-action="insert" data-id="">Save </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js/api-settings.js"></script>
{% endblock %}